<% if logged_in? %>
<% provide(:button_text, 'お城を記録する') %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="castle_form">
        <%= render 'shared/castle_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>お城一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>城レコへようこそ</h1>
    <h2>訪れたお城を記録しましょう！</h2>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    <h5>
      サンプルユーザーでログインし、お試し利用することができます→
      <%= link_to "試してみる", login_path %>
    </h5>
    <div class="home-images">
      <%= image_tag("home1.JPG", :size => "320x250") %>
      <%= image_tag("home2.JPG", :size => "320x250") %>
      <%= image_tag("home3.JPG", :size => "320x250") %>
    </div>
  </div>
<% end %>
