<% provide(:title, @user.name) %>
<% provide(:button_text, 'お城を記録する') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.image.url(:thumb_user_2) %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <% if current_user?(@user) %>
      <section class="castle_form">
        <%= render 'shared/castle_form' %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.castles.any? %>
      <h3>投稿数：<%= @user.castles.count %></h3>
      <ol class="castles">
        <%= render @castles %>
      </ol>
      <%= will_paginate @castles %>
    <% end %>
  </div>
</div>
