<%= form_for([@castle, @post]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <%= f.text_field :comment, placeholder: "コメントを入力" %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
