<% provide(:title, @castle.name) %>

<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="col-md-9">
    <div class="post-show">
      <h3>
        <%= @castle.name %>（<%= @castle.location %>）
        <% if logged_in? %>
          <% if current_user.id == @castle.user_id %>
            <%= link_to "編集", edit_user_castle_post_path(@user, @castle, @post) %>
            | <%= link_to "削除", user_castle_post_path(@user, @castle, @post), method: :delete,
                            data: { confirm: "本当に？" } %>
          <% end %>
        <% end %>
      </h3>
      <span class="img">
        <%= image_tag @post.picture.url %>
      </span>
      <p><%= simple_format(@post.comment) %></p>
    </div>
  </div>
</div>
