<li id="castle-<%= castle.id %>">
  <%= link_to  gravatar_for(castle.user, size: 50), castle.user %>
  <span class="user"><%= link_to castle.user.name, castle.user %></span>
  <%= link_to castle do %>
    <span class="content">
      <%= image_tag castle.picture.url, :size => "120x100" %>
      <%= castle.name %>
      （<%= castle.location %>）
    </span>
  <% end %>
  <span class="timestamp">
    <%= time_ago_in_words(castle.created_at) %>前
    <% if current_user?(castle.user) %>
      <%= link_to "削除", castle, method: :delete,
                          data: { confirm: "本当に？" } %>
    <% end %>
  </span>
</li>
