<li id="castle-<%= castle.id %>">
  <span class="icon">
    <%= link_to  image_tag(castle.user.image.url(:thumb_user_1)), castle.user %>
  </span>
  <span class="user"><%= link_to castle.user.name, castle.user %></span>
    <span class="content">
      <%= link_to image_tag(castle.picture.url(:thumb_castle)), user_castle_path(castle.user, castle) %>
      <%= link_to user_castle_path(castle.user, castle) do %>
        <%= castle.name %>
        （<%= castle.location %>）
      <% end %>
    </span>
  <span class="timestamp">
    <%= time_ago_in_words(castle.created_at) %>前
    <% if current_user?(castle.user) %>
      <%= link_to "削除", user_castle_path(castle.user, castle), method: :delete,
                          data: { confirm: "本当に？" } %>
    <% end %>
  </span>
</li>
